div {
  height: 300px;
  width: 400px;
  border: 1px solid #ccc;

  margin: 0px auto;
}

section {
  position: relative;
  perspective: 800px;
}

.side-a,
.side-b {
  position: absolute;
  backface-visibility: hidden;
}

.side-a {
  background-color: palegreen;
  z-index: 1;
}
.side-b {
  background-color: palevioletred;
  transform: rotateY(180deg);
}

.wrapper {
  transition: all 1s;
  transform-style: preserve-3d;
}

.wrapper:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}
