.Todo ul {
  list-style: none;
  margin: 20px auto;
  width: 360px;
}

.Todo ul button {
  outline: none;
  border: none;
  background: none;
  display: inline-block;
}

li {
  display: flex;
  border: 1px solid #ccc;
  width: 360px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 3px gray;
}

.Todo .Form {
  border: 1px solid black;
  width: 200px;
  margin: 10px auto;
}
