h1 {
  /* font-family: sans-serif; */
  border: 2px solid black;
  text-align: center;
  background-color: aqua;
  color: palevioletred;
  font-family: "Akaya Telivigala", cursive;
  /* text-shadow: 1px 2px 2px white, -1px 2px 4px #cccccc; */
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

p {
  font-family: "Roboto", sans-serif;
}

figure {
  border: 1px solid #ccc;
  width: 250px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  box-shadow: 1px 2px 3px #ccc;
}

figure button {
  padding: 5px 30px;
  margin-bottom: 10px;
}
