* {
  padding: 0;
  margin: 0;
}

#brand-name {
  font-family: "Righteous", cursive;
}

.container {
  width: 75vw;
  margin: 50px auto;

  display: grid;
  /* grid-template-columns: 250px 250px 250px; */ /*One option*/
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  grid-auto-rows: minmax(200px, auto);
  /* column-gap: 20px;
  row-gap: 20px; */
  gap: 20px;
}

.container div {
  background-color: palevioletred;
  border: 1px solid #ccc;
}

nav {
  background-color: #343a40;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  list-style: none;
}

li:first-child {
  margin: 10px 50px;
}

.container div {
  border-radius: 10px;
  position: relative;
}

.container div img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.35s;
}

.container div:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
  cursor: pointer;
}

.container div i {
  position: absolute;
  left: 45%;
  top: 45%;
  font-size: 2.2rem;
  transform: scale(0);
  transition: 0.3s;
  transition-delay: 100ms;
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.container div:hover i {
  transform: scale(1);
}

section {
  width: 75vw;

  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 10px;
}

section h1 {
  font-size: 2.5rem;
  color: #1d3557;
}

section p {
  letter-spacing: 0.09em;
  margin: 10px 0px;
  font-weight: 100;
}
