<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>

    <h1>Add New Product</h1>

    <form action="/products" method="POST">

        <input type="text" name="name" placeholder="Product Name">
        <input type="number" name="price" placeholder="Product Price">
        <input type="text" name="desc" placeholder="Product Desc">

        <button>Save</button>
    </form>
    
</body>
</html>