section {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

section div {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}
