/* CSS Variables */

:root {
  --font-ka-Size: 6rem;
  --shadow: 0px 2px 3px rgb(104, 104, 104);
  --font-ki-family: Arial, Helvetica, sans-serif;
  --text-ki-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

article {
  width: 80vw;
  border: 1px solid #ccc;
  margin: 50px auto;
  padding: 16px;
  box-shadow: var(--shadow);
  background-color: cyan;
}

h1 {
  font-size: var(--font-ka-Size);
  font-family: var(--font-ki-family);
  text-shadow: var(--text-ki-shadow);
}
