<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>

    <h1>GET & POST Request</h1>

    <h2>GET</h2>
    <form action="/cat" method="GET">

        <input type="text" name="username" placeholder="Username">
        <input type="text" name="age" placeholder="Age">
        <button>Submit</button>
    </form>

    <h2>POST</h2>
    <form action="/cat" method="POST">

        <input type="text" name="username" placeholder="Username">
        <input type="text" name="age" placeholder="age">
        <button>Submit</button>
    </form>
    
</body>
</html>