.heading {
  background-color: aqua;
  border: 2px solid #ccc;
  color: palevioletred;
  text-shadow: 0px 2px 3px rgb(104, 104, 104);
}

.two {
  text-transform: uppercase;
  box-shadow: 0px 2px 3px rgb(104, 104, 104);
  font-size: 3rem;
}

.three {
  display: none;
}
