
<%- include('partials/header') %>
<%- include('partials/navbar') %>

    <h1>This is a Heading <%= Math.floor(Math.random()*10+1) %></h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas doloremque dolore laudantium, voluptate cumque sunt porro autem tenetur voluptates! Iusto fugit nisi voluptas sapiente odit, totam molestiae veniam eos minus!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas doloremque dolore laudantium, voluptate cumque sunt porro autem tenetur voluptates! Iusto fugit nisi voluptas sapiente odit, totam molestiae veniam eos minus!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas doloremque dolore laudantium, voluptate cumque sunt porro autem tenetur voluptates! Iusto fugit nisi voluptas sapiente odit, totam molestiae veniam eos minus!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas doloremque dolore laudantium, voluptate cumque sunt porro autem tenetur voluptates! Iusto fugit nisi voluptas sapiente odit, totam molestiae veniam eos minus!</p>
    
<%- include('partials/footer') %>