div {
  height: 60px;
  width: 100px;
  border: 2px solid black;
  background-color: cyan;
  transition: 2s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

div:hover {
  width: 80vw;
  cursor: pointer;
}
