*{
    margin:0;
    padding: 0;
}




body{
    background-image: linear-gradient(to right, #212529 , #adb5bd);
    font-family: 'Roboto', sans-serif;
}

nav{
    height: 50px;
    background-color: #2b2d42;
    box-shadow: 0px 2px 3px rgba(255,255,255,0.2);
}

a{
    text-decoration: none;
    color:white;
    font-size: 1.8rem;
}

nav ul li{
    display: inline-block;
    padding-top:10px;
}

nav ul li:first-child{
    margin-right: 5px;
    margin-left: 20px;
}





#container{
   
    width:360px;
    margin:30px auto;
    border:2px solid #ccc;
    
    box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}

h1{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    background-color: #0077b6;
    color:white;
    padding: 15px 10px;
}

.completed{
    color:gray;
    text-decoration: line-through;
}

ul li span{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 50px;
    height: 100%;
   
   
}

span:hover{
    cursor: pointer;
}


#plus{
    float:right;
    margin-right: 30px;
}

ul{
    list-style: none;
}

input{
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px 5px;
    border:2px solid #0077b6;
}

input:focus{
    outline: none;
}

#container li{
    height: 40px;
    background-color: #a8dadc;
    margin:10px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
    box-sizing: border-box;
}

i{
    margin-right: 10px; 
}

#container li:nth-of-type(2n+1){
    background-color: #f4a261;
}

#container li:nth-of-type(3n+1){
    background-color: #b7e4c7;
}


#container li:nth-of-type(4n+1){
    background-color: #e9c46a;
}
